# OptOut Project: Construct age 20-40 sequences for mothers and for childlessl women

In [1]:
#setup
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from collections import defaultdict
from operator import itemgetter
from datetime import datetime, timedelta

# set some nicer defaults for matplotlib
from matplotlib import rcParams

rcParams['figure.figsize'] = (10, 6)
rcParams['figure.dpi'] = 150
rcParams['lines.linewidth'] = 2
rcParams['axes.grid'] = False
rcParams['axes.facecolor'] = 'white'
rcParams['font.size'] = 14
rcParams['patch.edgecolor'] = 'none'

def remove_border(axes=None, top=False, right=False, left=True, bottom=True):
    """
    Minimize chartjunk by stripping out unnecessary plot borders and axis ticks
    
    The top/right/left/bottom keywords toggle whether the corresponding plot border is drawn
    """
    ax = axes or plt.gca()
    ax.spines['top'].set_visible(top)
    ax.spines['right'].set_visible(right)
    ax.spines['left'].set_visible(left)
    ax.spines['bottom'].set_visible(bottom)
    
    #turn off all ticks
    ax.yaxis.set_ticks_position('none')
    ax.xaxis.set_ticks_position('none')
    
    #now re-enable visibles
    if top:
        ax.xaxis.tick_top()
    if bottom:
        ax.xaxis.tick_bottom()
    if left:
        ax.yaxis.tick_left()
    if right:
        ax.yaxis.tick_right()

## Week-to-week crosswalk

Create two functions to convert between week number and calendar year and month

In [2]:
#this is the file to switch between week number in NLSY79 and calendar year, month, and day
xl_file = pd.ExcelFile('../data/continuous_week_crosswalk_r26.xlsx') 
weekdf = xl_file.parse('weekdates1')
weekdf.head()

,Week Start: Month,Week Start: Day,Week Start: Year,Calendar Year Week Number,Continuous Week Number
0,1,1,1978,1,1
1,1,8,1978,2,2
2,1,15,1978,3,3
3,1,22,1978,4,4
4,1,29,1978,5,5

In [3]:
def get_week_num(year, month, which, df=weekdf):
    """
    Given a calendar year and month, return the corresponding week number in NLSY79.
    
    If which=='first', return the first week in that month.
    If which=='last', return the last week in that month. 
    """
    
    the_month = df[(df['Week Start:\nMonth']==month)&(df['Week Start: \nYear']==year)]
    
    if which == 'first':
        return int(the_month.iloc[0]['Continuous \nWeek Number'])
    elif which == 'last':
        return int(the_month.iloc[len(the_month)-1]['Continuous \nWeek Number'])

    
def get_year_month(weeknum, df=weekdf):
    """
    Given a week number, return the corresponding calendar month and year (yyyy, m).
    """
    
    the_week = df[df['Continuous \nWeek Number']==weeknum]
    return int(the_week.iloc[0]['Week Start: \nYear']), int(the_week.iloc[0]['Week Start:\nMonth'])

## Retrieve Extended Sample

In [4]:
analytic_df = pd.read_csv('../data/analytic_df.csv') #includes fertility data
print analytic_df.shape
analytic_df.head()

(3465, 100)

,caseid_1979,sample_id_1979,sample_race_1979,sample_sex_1979,c1dob_m_xrnd,c1dob_y_xrnd,c2dob_m_xrnd,c2dob_y_xrnd,c3dob_m_xrnd,c3dob_y_xrnd,...,date_m_2014,date_y_2014,y_deceased,last_yr,attr_before40,deceased_before40,deceased_child14,deceased_child18,too_late,attr_child18
0,2,5,3,2,3,1993,11,1994,-4,-4,...,12,2014,NaN,2014,False,False,False,False,False,False
1,3,5,3,2,6,1981,10,1983,4,1986,...,5,2015,NaN,2014,False,False,False,False,False,False
2,8,6,3,2,3,1976,5,1979,9,1982,...,1,2015,NaN,2014,False,False,False,False,False,False
3,16,5,3,2,2,1990,8,1993,9,1996,...,1,2015,NaN,2014,False,False,False,False,False,False
4,19,5,3,2,11,1987,-4,-4,-4,-4,...,-5,-5,NaN,2010,False,False,False,False,False,False

## Read weekly arrays and within-job gap dates

In [5]:
#read weekly array data
wkarray_df = pd.read_csv('../data/weeklyarrays.csv')
print wkarray_df.shape
print wkarray_df.columns[:20]

(12686, 3969)
Index([u'caseid_1979', u'hrs_worked_wk_num0000_xrnd',
       u'hrs_worked_wk_num0001_xrnd', u'hrs_worked_wk_num0002_xrnd',
       u'hrs_worked_wk_num0003_xrnd', u'hrs_worked_wk_num0004_xrnd',
       u'hrs_worked_wk_num0005_xrnd', u'hrs_worked_wk_num0006_xrnd',
       u'hrs_worked_wk_num0007_xrnd', u'hrs_worked_wk_num0008_xrnd',
       u'hrs_worked_wk_num0009_xrnd', u'hrs_worked_wk_num0010_xrnd',
       u'hrs_worked_wk_num0011_xrnd', u'hrs_worked_wk_num0012_xrnd',
       u'hrs_worked_wk_num0013_xrnd', u'hrs_worked_wk_num0014_xrnd',
       u'hrs_worked_wk_num0015_xrnd', u'hrs_worked_wk_num0016_xrnd',
       u'hrs_worked_wk_num0017_xrnd', u'hrs_worked_wk_num0018_xrnd'],
      dtype='object')

In [6]:
#read within-job-gap data
gap_df = pd.read_csv("../data/withingaps.csv")
print gap_df.shape
print gap_df.columns[:20]

(12686, 839)
Index([u'caseid_1979', u'per1_start_1979_job01_xrnd',
       u'per1_start_1979_job02_xrnd', u'per1_start_1979_job03_xrnd',
       u'per1_start_1979_job04_xrnd', u'per1_start_1979_job05_xrnd',
       u'per1_stop_1979_job01_xrnd', u'per1_stop_1979_job02_xrnd',
       u'per1_stop_1979_job03_xrnd', u'per1_stop_1979_job04_xrnd',
       u'per1_stop_1979_job05_xrnd', u'per2_start_1979_job01_xrnd',
       u'per2_start_1979_job02_xrnd', u'per2_start_1979_job03_xrnd',
       u'per2_start_1979_job04_xrnd', u'per2_start_1979_job05_xrnd',
       u'per2_stop_1979_job01_xrnd', u'per2_stop_1979_job02_xrnd',
       u'per2_stop_1979_job03_xrnd', u'per2_stop_1979_job04_xrnd'],
      dtype='object')

## Identify maternity leaves

Maternity leave could cover the birth, start after the birth, or end before the birth. 

Let's assume any within-job gap that start or end within 4 months (16 weeks) of birth as maternity leave (there are relatively fewer maternity gaps that finished within 16 weeks before birth, so do not consider within-job gaps that ended within 16 weeks before birth as maternity leave).

In [7]:
merged = analytic_df.merge(gap_df, on='caseid_1979') # merge datasets
merged.columns

Index([u'caseid_1979', u'sample_id_1979', u'sample_race_1979',
       u'sample_sex_1979', u'c1dob_m_xrnd', u'c1dob_y_xrnd', u'c2dob_m_xrnd',
       u'c2dob_y_xrnd', u'c3dob_m_xrnd', u'c3dob_y_xrnd',
       ...
       u'per3_start_2014_job03_xrnd', u'per3_start_2014_job04_xrnd',
       u'per3_stop_2014_job01_xrnd', u'per3_stop_2014_job02_xrnd',
       u'per3_stop_2014_job03_xrnd', u'per3_stop_2014_job04_xrnd',
       u'per4_start_2014_job01_xrnd', u'per4_start_2014_job02_xrnd',
       u'per4_stop_2014_job01_xrnd', u'per4_stop_2014_job02_xrnd'],
      dtype='object', length=938)

In [8]:
###modify to handle months prior to 1978


def get_gaps(row):
    """
    Given a row of respondent data, 
    Return a list of tuples (start week, end week) of work gaps for respondent i
    
    COPY THE SAME FUNCTION AS ABOVE, EXCEPT: COMMENT OUT THE PART THAT HANDLES MISSING CASES
    """
    
    gaps = []
    
    years = range(1979, 1995)+range(1996, 2015, 2)
    
    #look for within-job gaps in all years. sometimes the gaps were recorded in later years
    for y in years: 
        for j in range(1, 5): #4 possible gap periods
            for k in range(1, 6): #5 possible jobs
                try: 
                    gap_start = row['per%s_start_%s_job0%s_xrnd'%(j, y, k)]
                    gap_stop = row['per%s_stop_%s_job0%s_xrnd'%(j, y, k)]
                    
                    if gap_start >= 0 and gap_stop >= 0: # valid, no missing
                        #gaps.append((gap_start, gap_stop))
                        gaps += range(gap_start, gap_stop+1)
                        
#                    elif gap_start == -4 and gap_stop == -4: # valid skip
#                        pass # valid skip
#                    else:
#                        pass
#                         missing_data['caseid_1979'].append(row['caseid_1979'])
#                         missing_data['start_col'].append('per%s_start_%s_job0%s_xrnd'%(j, y, k))
#                         missing_data['start'].append(gap_start) 
                        
#                         start_y = None
#                         start_m = None
#                         if gap_start > 0:
#                             start_y, start_m = get_year_month(gap_start)
#                         missing_data['start_y'].append(start_y)
#                         missing_data['start_m'].append(start_m)

#                         missing_data['end_col'].append('per%s_stop_%s_job0%s_xrnd'%(j, y, k))
#                         missing_data['end'].append(gap_stop)
                        
#                         end_y = None
#                         end_m = None
#                         if gap_stop > 0:
#                             end_y, end_m = get_year_month(gap_stop)
#                         missing_data['end_y'].append(end_y)
#                         missing_data['end_m'].append(end_m)

#                         print 'missing data - id:', row['caseid_1979'], 'year:', y, 'gap #:', j, 'job #:', k, 'weeks: ', (gap_start, gap_stop)
                        
                except KeyError: # some years do not report 5 jobs
                    pass
                
    return gaps

## Tranform weekly sequences


NLSY79 employment status:
* 100 TO 2615: ACTUAL SURVEY ROUND/JOB NUMBER
* 0: NO INFO REPORTED FOR WEEK
* 2: NOT WORKING (UNEMP V. OLF NOT DETERMINED)
* 3: ASSOC. WITH EMP, GAP DATES MISSING, ALL TIME NOT ACCTD FOR
* 4: UNEMPLOYED
* 5: OUT OF LABOR FORCE
* 7: ACTIVE MILITARY SERVICE


My status classification scheme:

* 0 - misisng
* 1 - full-time employment - hours >= 35
* 2 - part-time 1 - hours [20, 35)
* 3 - part-time 2 - hours < 20
* 4 - working with missing hours
* 5 - unemployed
* 6 - OOLF
* 7 - nonworking, but DK whether OOLF or unemployed
* 8 - maternity leave


NOTE: Working with 0 hour to part time 2 (status 3)

## Age 20-40 sequences for mothers

In [9]:
def find_modal(l):
    """
    Given a list l, return the most common element in the list. 
    if there is a tie, return all elements.
    """
    
    #first, count frequency of each unique item in the list
    counter = defaultdict(int)
    for item in l:
        counter[item] += 1

    #rank items from most frequent to least frequent
    popular_items = sorted(counter, key=counter.get, reverse = True)
    
    most_common = [popular_items[0]]
    
    for other in popular_items[1:]:
        if counter[other] < counter[most_common[0]]:
            break
        elif counter[other] == counter[most_common[0]]: #find an equally frequent item
            most_common.append(other)
        else:
            print 'impossible'

    return most_common

#for example
print find_modal([1, 1, 2, 1, 5])
print find_modal([1, 1, 2, 1, 5, 2, 2, 33])

[1]
[1, 2]

In [11]:
full_df = pd.read_csv('../data/full_wk_df.csv')

In [12]:
res_data = defaultdict(list) #create an empty dictionary to store data

count_ties = [] #how many we get ties of modal, store a tuple (respondent id, month # where a tie occured) 
status_order = [1, 6, 2, 3, 5, 8, 4, 7, 0]  


for i, row in full_df.iterrows():
    
    # keep track of progress
    if i%100 == 0:
        print i, 
    
    # keep basic info: id, sequence start year and month
    res_data['caseid_1979'].append(row['caseid_1979'])
    
    dob_row = analytic_df[analytic_df.caseid_1979==row['caseid_1979']].iloc[0]
    res_data['start_y'].append(dob_row['y_dob']+20)
    res_data['start_m'].append(dob_row['m_dob'])

    y = dob_row['y_dob']+20
    m = dob_row['m_dob']
    
    
    # look at weekly statuses
    for j in range(1, 241): # from month 1 to month 240 = 20 * 12
        
        if y < 1978: #prior to 1978
            res_data['month%s'%j].append(0)
            
        elif y > 2015: # post-2015
            res_data['month%s'%j].append(0)
            
        else:
            start = get_week_num(y, m, 'first')
            end = get_week_num(y, m, 'last')
            wk_statuses = [row['week%i'%k] for k in range(start, end+1)]
            
            
            #find unique items in the given month 
            distinct = list(set(wk_statuses))
            distinct.sort()

            if len(distinct) == 1:
                res_data['month%s'%j].append(distinct[0])

            elif len(distinct) >= 2:
                modal = find_modal(wk_statuses)
                if len(modal) == 1:
                    res_data['month%s'%j].append(modal[0])
                else:
                    
                    modal_order = [(x, status_order.index(x)) for x in modal]
                    modal_order = sorted(modal_order, key=itemgetter(1))
                    res_data['month%s'%j].append(modal_order[0][0])
                    count_ties.append((row['caseid_1979'], j))

         
        #move to next month
        if m < 12:
            m += 1
        elif m == 12:
            m = 1
            y += 1

0 100 200 300 400 500 600 700 800 900 1000 1100 1200 1300 1400 1500 1600 1700 1800 1900 2000 2100 2200 2300 2400 2500 2600 2700 2800 2900 3000 3100 3200 3300 3400

In [14]:
cols = ['caseid_1979', 'start_y', 'start_m'] + ['month%s'%i for i in range(1, 241)]
res_df = pd.DataFrame(res_data, columns=cols) #restricted dataframe

In [15]:
res_df.head()

,caseid_1979,start_y,start_m,month1,month2,month3,month4,month5,month6,month7,...,month231,month232,month233,month234,month235,month236,month237,month238,month239,month240
0,2,1979,1,1,1,1,1,1,1,1,...,6,6,5,5,5,5,5,5,5,5
1,3,1981,8,6,6,6,6,6,6,6,...,1,1,6,6,6,6,6,6,6,6
2,8,1978,7,6,6,6,6,6,8,2,...,1,1,1,1,1,1,1,1,1,1
3,16,1978,10,1,1,1,1,1,1,1,...,3,3,3,3,3,3,2,2,2,2
4,19,1977,12,0,1,1,1,1,1,1,...,6,6,6,6,6,6,6,6,6,6

## Update pre-1978 monthly status

Coding rules:
* If FT, then FT
* If working less than FT, treat as working, missing hours
* otherwise, assign missing

In [18]:
df79 = pd.read_csv('../data/work_history79.csv')
df79.head()

,caseid_1979,employer_startdate_01_m_1979,employer_startdate_01_d_1979,employer_startdate_01_y_1979,employer_startdate_02_m_1979,employer_startdate_02_d_1979,employer_startdate_02_y_1979,employer_startdate_03_m_1979,employer_startdate_03_d_1979,employer_startdate_03_y_1979,...,nonemployed_prior_int_01_1979,nonemployed_prior_int_02_1979,nonemployed_prior_int_03_1979,nonemployed_prior_int_04_1979,nonemployed_prior_int_05_1979,nonemployed_since_int_01_1979,nonemployed_since_int_02_1979,nonemployed_since_int_03_1979,nonemployed_since_int_04_1979,nonemployed_since_int_05_1979
0,1,5,22,78,9,20,75,-4,-4,-4,...,-4,-4,-4,-4,-4,0,-4,-4,-4,-4
1,2,5,8,78,-4,-4,-4,-4,-4,-4,...,-4,-4,-4,-4,-4,0,-4,-4,-4,-4
2,3,9,11,78,5,15,78,1,30,78,...,-4,-4,-4,-4,-4,0,0,0,-4,-4
3,4,-4,-4,-4,-4,-4,-4,-4,-4,-4,...,-4,-4,-4,-4,-4,-4,-4,-4,-4,-4
4,5,2,1,78,6,5,78,-4,-4,-4,...,-4,-4,-4,-4,-4,1,0,-4,-4,-4

In [22]:
# Decision rules:
#If your job started on the 15th or earlier, you worked that month.
#If your job ended on the 16th or later, you worked that month.
#If we don’t know the day that you started, count the start month as NOT working and the end month as working.


def update_pre1978_months(row):
    
    y = row['start_y'] - 1
    m = row['start_m']    
    
    if y >= 1978:
        return row
    
    j = 1
    work79_row = df79[df79.caseid_1979==row['caseid_1979']].iloc[0]
    
    while y < 1978:
        #print (y, m)

        overlap_jobs = []

        for i in range(1, 6): # iterate through jobs
            
            start_y = work79_row['employer_startdate_%02d_y_1979'%i]
            start_m = work79_row['employer_startdate_%02d_m_1979'%i]
            start_d = work79_row['employer_startdate_%02d_d_1979'%i]

            stop_y = work79_row['employer_stopdate_%02d_y_1979'%i]
            stop_m = work79_row['employer_stopdate_%02d_m_1979'%i]
            stop_d = work79_row['employer_stopdate_%02d_d_1979'%i]
            
            #print (start_y, start_m, start_d, stop_y, stop_m, stop_d)
            
            if start_y > 0 and start_y < 1900:
                start_y += 1900

            if stop_y > 0 and stop_y < 1900:
                stop_y += 1900
              
            if start_y >= 1978:
                continue
                
            if start_y > 0 and start_m > 0 and start_d > 0:

                if start_y == y and start_m == m and start_d <= 15: # job started on the 15th or earlier in the given month
                    overlap_jobs.append(i)

                elif start_y < y or (start_y == y and start_m < m): # job started before the given month 

                    if stop_y == -4 and stop_m == -4 and stop_d == -4: 
                        overlap_jobs.append(i)

                    elif stop_y > 0 and stop_m > 0 and stop_d > 0:
                        if stop_y == y and stop_m == m and stop_d >= 16: # job ended on the 16th or later, you worked that month
                            overlap_jobs.append(i)   
                        elif (stop_y > y) or (stop_y == y and stop_m > m): # job stopped after the given month
                            overlap_jobs.append(i)
                        
                    elif stop_y > 0 and stop_m > 0:
                        if (stop_y > y) or (stop_y == y and stop_m > m): # job stopped after the given month
                            overlap_jobs.append(i)


            elif start_y > 0 and start_m > 0 and start_d < 0:
                if start_y == y and start_m == m: # start month as not working
                    pass
                
                elif start_y < y or (start_y == y and start_m < m): # job started before the given month   
                    
                    if stop_y == -4 and stop_m == -4 and stop_d == -4: 
                        overlap_jobs.append(i) 
                    
                    elif stop_y > 0 and stop_m > 0 and stop_d > 0:
                        if stop_y == y and stop_m == m and stop_d >= 16: # job ended on the 16th or later, you worked that month
                            overlap_jobs.append(i)   
                        elif (stop_y > y) or (stop_y == y and stop_m > m): # job stopped after the given month
                            overlap_jobs.append(i)  
                    
                    elif stop_y > 0 and stop_m > 0:
                        if (stop_y > y) or (stop_y == y and stop_m > m): # job stopped after the given month
                            overlap_jobs.append(i)
 
                        
            elif start_y > 0 and start_y < y: # job started before the given month

                if stop_y == -4 and stop_m == -4 and stop_d == -4: 
                    overlap_jobs.append(i) 

                elif stop_y > 0 and stop_m > 0 and stop_d > 0:
                    if stop_y == y and stop_m == m and stop_d >= 16: # job ended on the 16th or later, you worked that month
                        overlap_jobs.append(i)   
                    elif (stop_y > y) or (stop_y == y and stop_m > m): # job stopped after the given month
                        overlap_jobs.append(i)  

                elif stop_y > 0 and stop_m > 0:
                    if (stop_y > y) or (stop_y == y and stop_m > m): # job stopped after the given month
                        overlap_jobs.append(i)
                        

        #print j, (y, m), overlap_jobs
        if len(overlap_jobs) > 0:
            hours = [work79_row['hours_per_week_job_%02d_1979'%k] for k in overlap_jobs 
                     if work79_row['hours_per_week_job_%02d_1979'%k]>=0]
            #print overlap_jobs, hours
            
            if sum(hours) >= 35:
                row['month%s'%j] = 1 # full-time
            else:
                row['month%s'%j] = 4
                
            print '%s-%s'%(row['caseid_1979'], j),
            

        j += 1
        if m < 12:
            m += 1
        else:
            m = 1
            y += 1
            
    
    return row

In [23]:
res_df = res_df.apply(update_pre1978_months, axis=1)
res_df.head()

16-1 16-2 16-3 19-9 19-10 19-11 19-12 19-13 30-1 30-2 37-1 37-2 37-3 49-3 49-4 49-5 49-6 49-7 49-8 50-1 50-2 50-3 50-4 57-1 57-2 57-3 57-4 57-5 57-6 57-7 57-8 58-1 58-2 58-3 58-4 58-5 58-6 58-7 58-8 58-9 58-10 58-11 58-12 58-13 58-14 58-15 58-16 58-17 58-18 58-19 58-20 58-21 58-22 58-23 58-24 97-2 97-3 97-4 97-5 97-6 97-7 97-8 97-9 97-10 97-11 98-11 98-12 98-13 98-14 98-15 98-16 99-13 99-14 99-15 99-16 128-1 128-2 128-3 128-4 128-5 128-6 158-1 158-2 158-3 158-4 179-1 179-2 179-3 179-4 179-5 183-1 183-2 205-19 205-20 205-21 231-2 231-3 231-4 231-5 231-6 231-7 231-8 231-9 231-10 231-11 231-12 231-13 231-14 231-15 231-16 231-17 231-18 231-19 237-1 237-2 237-3 237-4 237-5 237-6 237-7 237-8 237-9 237-10 237-11 237-12 237-13 237-14 237-15 237-16 237-17 242-1 242-2 244-11 244-12 244-13 244-14 244-15 244-16 244-17 244-18 244-19 244-20 250-7 258-12 287-1 292-1 292-2 292-3 292-4 292-5 292-6 292-7 292-8 292-9 292-10 292-11 292-12 292-13 292-14 292-15 292-16 292-17 292-18 292-19 292-20 292-21 292-22 297-1 297-2 297-3 297-4 297-5 297-6 297-7 297-8 297-9 297-10 297-11 297-12 297-13 297-14 297-15 297-16 297-17 314-1 322-1 322-2 322-3 322-4 322-5 322-6 322-7 322-8 322-9 322-10 322-11 333-5 333-6 333-7 333-8 333-9 333-10 333-11 333-12 333-13 333-14 333-15 333-16 333-17 333-18 333-19 333-20 333-21 333-22 333-23 354-1 354-2 354-3 354-4 354-5 354-6 354-7 354-8 354-9 354-10 354-11 354-12 354-13 354-14 354-15 354-16 354-17 354-18 354-19 354-20 354-21 354-22 354-23 373-1 373-2 373-3 373-4 399-2 399-3 399-4 399-5 399-6 399-7 399-8 399-9 399-10 399-11 399-12 399-13 399-14 399-15 399-16 399-17 399-18 399-19 399-20 399-21 402-1 402-2 402-3 402-4 402-5 402-6 402-7 402-8 402-9 402-10 402-11 402-12 416-13 416-14 416-15 416-16 416-17 416-18 416-19 427-15 427-16 437-1 437-2 437-3 437-4 437-5 437-6 437-7 437-8 437-9 437-10 437-11 437-12 437-13 437-14 437-15 437-16 437-17 446-1 446-2 446-3 529-1 529-2 529-3 529-4 529-5 529-6 529-7 529-8 550-1 550-2 550-3 550-4 563-3 563-4 563-5 563-6 563-7 627-1 627-2 627-3 627-4 627-5 627-6 627-7 627-8 627-9 627-10 627-11 627-12 627-13 627-14 627-15 627-16 627-17 627-18 627-19 627-20 635-5 635-6 635-7 635-8 635-9 635-10 635-11 635-12 635-13 635-14 635-15 635-16 635-17 635-18 635-19 704-1 704-2 704-3 704-4 704-5 704-6 704-7 816-1 816-2 816-3 816-4 816-5 816-6 816-7 816-8 816-9 816-10 816-11 841-1 841-2 855-1 889-1 889-2 912-1 912-2 912-3 912-4 912-5 912-6 912-7 912-8 912-9 912-10 912-11 912-12 912-13 912-14 912-15 912-16 912-17 935-3 935-4 935-5 935-6 935-7 935-8 935-9 935-10 995-3 995-4 995-5 995-6 995-7 995-8 995-9 995-10 995-11 995-12 995-13 995-14 995-15 995-16 995-17 995-18 998-7 998-8 998-9 998-10 998-11 998-12 998-13 998-14 1057-21 1057-22 1065-1 1065-2 1065-3 1069-15 1069-16 1104-7 1104-8 1104-9 1104-10 1108-11 1108-12 1108-13 1108-14 1111-5 1111-6 1111-7 1111-8 1111-9 1111-10 1111-11 1111-12 1111-13 1111-14 1111-15 1111-16 1111-17 1111-18 1111-19 1111-20 1111-21 1111-22 1111-23 1111-24 1165-8 1181-10 1181-11 1181-12 1181-13 1181-14 1181-15 1181-16 1181-17 1181-18 1181-19 1181-20 1181-21 1181-22 1181-23 1181-24 1184-6 1184-7 1184-8 1184-9 1184-10 1184-11 1184-12 1184-13 1184-14 1184-15 1184-16 1184-17 1189-1 1189-2 1189-3 1209-2 1209-3 1209-4 1209-5 1209-6 1209-7 1209-8 1209-9 1209-10 1209-11 1225-9 1225-10 1225-11 1225-12 1225-13 1225-14 1225-15 1225-16 1225-17 1230-7 1230-8 1230-9 1230-10 1230-11 1230-12 1230-13 1230-14 1230-15 1230-16 1230-17 1230-18 1230-19 1230-20 1238-1 1238-2 1238-3 1238-4 1238-5 1238-6 1238-7 1238-8 1238-9 1238-10 1238-11 1238-12 1238-13 1238-14 1238-15 1261-1 1261-2 1261-3 1261-4 1261-5 1305-12 1305-13 1305-14 1305-15 1305-16 1305-17 1305-18 1305-19 1305-20 1305-21 1305-22 1305-23 1305-24 1322-14 1322-15 1322-16 1322-17 1322-18 1352-1 1352-2 1352-3 1360-9 1360-10 1360-11 1360-12 1360-13 1360-14 1360-15 1360-16 1360-17 1360-18 1360-19 1360-20 1360-21 1360-22 1360-23 1375-1 1375-2 1375-3 1375-4 1375-5 1375-6 1375-7 1375-8 1375-9 1375-10 1375-11 1375-12 1375-13 1375-14 1375-15 1375-16 1376-4 1376-5 1376-6 1376-7 1382-2 1382-3 1382-4 1382-5 1460-6 1460-7 1495-1 1495-2 1495-3 1495-4 1495-5 1495-6 1495-7 1495-8 1495-9 1495-10 1495-11 1495-12 1495-13 1495-14 1499-17 1499-18 1499-19 1499-20 1499-21 1539-4 1539-5 1539-6 1539-7 1539-8 1551-1 1551-2 1551-3 1551-4 1551-5 1551-6 1551-7 1551-8 1551-9 1551-10 1552-21 1552-22 1552-23 1552-24 1599-1 1599-2 1599-3 1599-4 1599-5 1599-6 1599-7 1599-8 1599-9 1599-10 1599-11 1599-12 1599-13 1599-14 1599-15 1599-16 1599-17 1599-18 1599-19 1599-20 1600-22 1616-1 1616-2 1616-3 1616-4 1616-5 1616-6 1616-7 1616-8 1616-9 1616-10 1616-11 1616-12 1616-13 1616-14 1640-20 1640-21 1640-22 1683-1 1683-2 1683-3 1683-4 1683-5 1683-6 1683-7 1683-8 1683-9 1683-10 1683-11 1683-12 1683-13 1683-14 1683-15 1766-1 1808-6 1808-7 1808-8 1808-9 1824-1 1824-2 1824-3 1824-4 1824-5 1824-6 1824-7 1824-8 1824-9 1824-10 1824-11 1824-12 1824-13 1824-14 1824-15 1824-16 1824-17 1824-18 1844-17 1844-18 1844-19 1844-20 1862-1 1868-4 1868-5 1868-6 1868-7 1868-8 1868-9 1868-10 1868-11 1868-12 1868-13 1868-14 1868-15 1868-16 1868-17 1926-1 1926-2 1926-3 1926-4 1926-5 1926-6 1926-7 1926-8 1926-9 1926-10 1926-11 1926-12 1935-11 1935-12 1935-13 1936-1 1962-2 1994-1 1994-2 2036-6 2036-7 2036-8 2036-9 2064-1 2064-2 2064-3 2064-4 2064-5 2064-6 2064-7 2064-8 2064-9 2064-10 2064-11 2064-12 2064-13 2064-14 2064-15 2064-16 2076-1 2076-2 2076-3 2076-4 2076-5 2076-6 2076-7 2076-8 2076-9 2076-10 2076-11 2076-12 2076-13 2076-14 2076-15 2076-16 2076-17 2076-18 2076-19 2076-20 2076-21 2076-22 2076-23 2076-24 2079-1 2103-21 2103-22 2103-23 2103-24 2104-1 2104-2 2104-3 2104-4 2104-5 2104-6 2104-7 2104-8 2104-9 2104-10 2104-11 2104-12 2104-13 2104-14 2104-15 2104-16 2104-17 2104-18 2104-19 2104-20 2104-21 2104-22 2104-23 2104-24 2105-5 2105-6 2105-7 2105-8 2196-19 2196-20 2196-21 2196-22 2285-18 2285-19 2299-17 2299-18 2299-19 2299-20 2311-1 2311-2 2311-3 2311-4 2311-5 2311-6 2311-7 2311-8 2311-9 2311-10 2311-11 2311-12 2311-13 2311-14 2333-24 2368-1 2368-2 2368-3 2368-4 2368-5 2368-6 2368-7 2368-8 2368-9 2368-10 2368-11 2368-12 2368-13 2368-14 2368-15 2368-16 2368-17 2368-18 2368-19 2407-1 2407-2 2407-3 2407-4 2407-5 2407-6 2407-7 2407-8 2407-9 2447-1 2447-2 2483-1 2483-2 2483-3 2483-4 2483-5 2483-6 2483-7 2483-8 2483-9 2483-10 2483-11 2483-12 2483-13 2483-14 2483-15 2483-16 2483-17 2483-18 2483-19 2483-20 2483-21 2483-22 2501-12 2501-13 2501-14 2501-15 2501-16 2501-17 2501-18 2501-19 2501-20 2501-21 2501-22 2565-12 2565-13 2565-14 2573-7 2573-8 2742-9 2742-10 2742-11 2742-12 2742-13 2742-14 2742-15 2742-16 2742-17 2742-18 2742-19 2742-20 2742-21 2742-22 2744-9 2744-10 2744-11 2744-12 2744-13 2744-14 2744-15 2744-16 2748-1 2748-2 2748-3 2748-4 2748-5 2748-6 2748-7 2748-8 2748-9 2748-10 2748-11 2748-12 2748-13 2748-14 2748-15 2748-16 2748-17 2748-18 2748-19 2748-20 2748-21 2753-8 2753-9 2753-10 2753-11 2753-12 2834-1 2834-2 2834-3 2834-4 2834-5 2834-6 2877-1 2877-2 2918-4 2918-5 2918-6 2918-7 2918-8 2948-1 2948-2 2948-3 2948-4 2948-5 2948-6 2948-7 2948-8 2948-9 2948-10 2948-11 2948-12 2948-13 2948-14 2948-15 2948-16 2948-17 2948-18 2948-19 2948-20 2948-21 2948-22 2948-23 2949-1 2949-2 2949-3 2949-4 2949-5 2970-1 2970-2 2970-3 2970-4 2970-5 2970-6 2970-7 2970-8 2970-9 2970-10 2970-11 2970-12 2970-13 2970-14 2970-15 2978-1 2978-2 3012-8 3012-9 3012-10 3012-11 3012-12 3012-13 3012-14 3012-15 3012-16 3012-17 3012-18 3012-19 3012-20 3012-21 3012-22 3012-23 3012-24 3021-8 3021-9 3036-1 3036-2 3036-3 3036-4 3036-5 3036-6 3036-7 3036-8 3036-9 3036-10 3036-11 3036-12 3036-13 3036-14 3036-15 3036-16 3036-17 3041-3 3041-4 3079-1 3096-1 3096-2 3096-3 3096-4 3150-11 3150-12 3154-1 3198-2 3198-3 3198-4 3198-5 3198-6 3198-7 3198-8 3198-9 3198-10 3198-11 3198-12 3198-13 3198-14 3198-15 3198-16 3198-17 3198-18 3198-19 3198-20 3198-21 3198-22 3198-23 3198-24 3243-1 3243-2 3243-3 3243-4 3243-5 3243-6 3243-7 3243-8 3243-9 3243-10 3243-11 3278-6 3278-7 3278-8 3278-9 3278-10 3278-11 3286-1 3286-2 3286-3 3286-4 3286-5 3286-6 3286-7 3286-8 3286-9 3286-10 3286-11 3286-12 3286-13 3286-14 3286-15 3293-1 3293-2 3293-3 3293-4 3293-5 3293-6 3293-7 3293-8 3293-9 3293-10 3293-11 3293-12 3293-13 3293-14 3293-15 3293-16 3303-3 3303-4 3303-5 3303-6 3325-7 3325-8 3325-9 3347-1 3347-2 3347-3 3347-4 3347-5 3347-6 3347-7 3347-8 3347-9 3347-10 3347-11 3347-12 3347-13 3347-14 3347-15 3347-16 3347-17 3347-18 3347-19 3362-11 3362-12 3362-13 3362-14 3407-1 3407-2 3407-3 3407-4 3407-5 3407-6 3407-7 3407-8 3407-9 3407-10 3407-11 3407-12 3407-13 3407-14 3407-15 3407-16 3407-17 3407-18 3407-19 3407-20 3407-21 3407-22 3407-23 3407-24 3413-1 3413-2 3413-3 3413-4 3413-5 3413-6 3413-7 3413-8 3413-9 3413-10 3413-11 3424-4 3434-2 3434-3 3434-4 3434-5 3454-1 3454-2 3467-1 3467-2 3467-3 3467-4 3467-5 3467-6 3467-7 3467-8 3467-9 3467-10 3467-11 3467-12 3467-13 3467-14 3467-15 3481-12 3481-13 3481-14 3481-15 3481-16 3481-17 3481-18 3502-1 3502-2 3502-3 3502-4 3502-5 3502-6 3502-7 3502-8 3502-9 3502-10 3502-11 3502-12 3502-13 3502-14 3502-15 3502-16 3502-17 3518-1 3518-2 3518-3 3518-4 3518-5 3518-6 3518-7 3518-8 3518-9 3518-10 3518-11 3518-12 3518-13 3518-14 3518-15 3518-16 3518-17 3518-18 3518-19 3518-20 3531-4 3531-5 3531-6 3531-7 3531-8 3531-9 3531-10 3537-7 3537-8 3537-9 3537-10 3537-11 3555-1 3555-2 3555-3 3555-4 3555-5 3555-6 3555-7 3555-8 3555-9 3565-12 3565-13 3565-14 3565-15 3565-16 3565-17 3565-18 3565-19 3565-20 3565-21 3565-22 3566-1 3566-2 3566-3 3566-4 3566-5 3566-6 3566-7 3566-8 3566-9 3566-10 3605-1 3605-2 3605-3 3605-4 3605-5 3605-6 3605-7 3605-8 3605-9 3605-10 3610-1 3610-2 3610-3 3610-4 3610-5 3610-6 3610-7 3610-8 3613-19 3662-3 3662-4 3662-5 3662-6 3662-7 3662-8 3662-9 3662-10 3662-11 3662-12 3662-13 3662-14 3662-15 3720-13 3720-14 3720-15 3720-16 3720-17 3720-18 3720-19 3752-1 3752-2 3752-3 3752-4 3752-5 3752-6 3752-7 3752-8 3752-9 3752-10 3752-11 3752-12 3752-13 3752-14 3752-15 3752-16 3752-17 3752-18 3752-19 3752-20 3752-21 3752-22 3752-23 3752-24 3769-1 3769-2 3769-3 3769-4 3769-5 3769-6 3769-7 3779-1 3779-2 3779-3 3779-4 3779-5 3779-6 3779-7 3779-8 3779-9 3779-10 3779-11 3779-12 3779-13 3779-14 3779-15 3779-16 3779-17 3779-18 3779-19 3786-3 3786-4 3787-16 3787-17 3787-18 3787-19 3787-20 3791-16 3793-1 3793-2 3793-3 3793-4 3793-5 3793-6 3793-7 3793-8 3793-9 3964-1 3964-2 3964-3 3964-4 3964-5 3964-6 3986-13 3986-14 3986-15 3986-16 3986-17 3986-18 3992-19 3992-20 3992-21 3992-22 3992-23 4041-10 4041-11 4041-12 4041-13 4041-14 4041-15 4041-16 4041-17 4041-18 4041-19 4041-20 4041-21 4041-22 4066-1 4066-2 4066-3 4066-4 4066-5 4066-6 4066-7 4066-8 4066-9 4066-10 4066-11 4066-12 4066-13 4066-14 4066-15 4066-16 4066-17 4066-18 4066-19 4103-4 4103-5 4105-1 4105-2 4105-3 4105-4 4105-5 4136-1 4136-2 4136-3 4136-4 4136-5 4179-10 4179-11 4179-12 4179-13 4236-1 4236-2 4236-3 4236-4 4236-5 4236-6 4236-7 4236-8 4236-9 4236-10 4236-11 4236-12 4236-13 4236-14 4236-15 4236-16 4236-17 4236-18 4256-4 4256-5 4268-2 4268-3 4268-4 4268-5 4268-6 4268-7 4268-8 4268-9 4268-10 4268-11 4268-12 4268-13 4268-14 4268-15 4268-16 4268-17 4268-18 4268-19 4281-14 4281-15 4296-1 4296-2 4296-3 4296-4 4296-5 4306-9 4306-10 4306-11 4306-12 4306-13 4306-14 4306-15 4306-16 4306-17 4325-4 4325-5 4325-6 4341-16 4341-17 4341-18 4341-19 4376-2 4376-3 4376-4 4376-5 4376-6 4376-7 4376-8 4376-9 4376-10 4376-11 4376-12 4376-13 4376-14 4376-15 4376-16 4376-17 4376-18 4376-19 4376-20 4376-21 4383-5 4400-1 4400-2 4400-3 4400-4 4400-5 4400-6 4400-7 4400-8 4400-9 4400-10 4400-11 4400-12 4400-13 4400-14 4400-15 4400-16 4400-17 4400-18 4400-19 4450-16 4450-17 4478-14 4478-15 4478-16 4496-9 4496-10 4528-20 4528-21 4534-7 4534-8 4534-9 4534-10 4534-11 4534-12 4534-13 4534-14 4534-15 4534-16 4534-17 4534-18 4538-1 4538-2 4538-3 4538-4 4538-5 4538-6 4538-7 4538-8 4538-9 4538-10 4538-11 4538-12 4538-13 4538-14 4538-15 4538-16 4538-17 4538-18 4538-19 4538-20 4538-21 4546-1 4546-2 4546-3 4546-4 4546-5 4546-6 4546-7 4590-1 4593-2 4593-3 4593-4 4593-5 4593-6 4593-7 4593-8 4593-9 4593-10 4593-11 4593-12 4593-13 4593-14 4593-15 4593-16 4593-17 4683-1 4683-2 4683-3 4683-4 4683-5 4683-6 4683-7 4683-8 4683-9 4683-10 4683-11 4683-12 4683-13 4683-14 4683-15 4683-16 4683-17 4723-1 4723-2 4772-1 4772-2 4772-3 4772-4 4772-5 4772-6 4772-7 4772-8 4772-9 4772-10 4772-11 4772-12 4772-13 4772-14 4772-15 4772-16 4774-1 4774-2 4774-3 4774-4 4774-5 4774-6 4774-7 4774-8 4774-9 4774-10 4774-11 4774-12 4774-13 4774-14 4774-15 4774-16 4817-19 4817-20 4817-21 4817-22 4819-8 4819-9 4882-2 4882-3 4882-4 4882-5 4974-1 4974-2 4974-3 4974-4 4974-5 4974-6 4974-7 4974-8 4974-9 5035-1 5035-2 5035-3 5035-4 5035-5 5035-6 5035-7 5045-2 5045-3 5045-4 5045-5 5045-6 5045-7 5045-8 5045-9 5045-10 5045-11 5045-12 5045-13 5045-14 5045-15 5045-16 5045-17 5045-18 5045-19 5045-20 5045-21 5045-22 5108-14 5108-15 5108-16 5108-17 5115-2 5115-3 5115-4 5115-5 5119-1 5119-2 5119-3 5119-4 5119-5 5119-6 5119-7 5119-8 5119-9 5121-1 5121-2 5121-3 5121-4 5121-5 5121-6 5200-1 5200-2 5200-3 5200-4 5200-5 5200-6 5200-7 5200-8 5212-10 5212-11 5212-12 5212-13 5224-1 5224-2 5224-3 5224-4 5224-5 5224-6 5224-7 5224-8 5224-9 5224-10 5224-11 5224-12 5224-13 5224-14 5224-15 5224-16 5224-17 5264-2 5264-3 5264-4 5264-5 5264-6 5264-7 5264-8 5264-9 5264-10 5264-11 5264-12 5264-13 5264-14 5264-15 5264-16 5264-17 5264-18 5264-19 5264-20 5273-1 5273-2 5288-1 5288-2 5288-3 5288-4 5288-5 5288-6 5288-7 5288-8 5288-9 5288-10 5288-11 5288-12 5288-13 5288-14 5288-15 5288-16 5294-1 5294-2 5294-3 5294-4 5294-5 5294-6 5294-7 5294-8 5311-23 5389-20 5389-21 5389-22 5389-23 5425-1 5425-2 5425-3 5425-4 5425-5 5425-6 5425-7 5425-8 5478-23 5478-24 5555-1 5555-2 5555-3 5555-4 5555-5 5555-6 5555-7 5555-8 5555-9 5555-10 5555-11 5555-12 5555-13 5555-14 5555-15 5555-16 5555-17 5555-18 5555-19 5555-20 5555-21 5555-22 5557-4 5557-5 5557-6 5557-7 5557-8 5557-9 5557-10 5557-11 5557-12 5557-13 5557-14 5557-15 5557-16 5557-17 5557-18 5557-19 5593-9 5593-10 5593-11 5593-12 5593-13 5593-14 5593-15 5593-16 5593-17 5593-18 5593-19 5593-20 5593-21 5593-22 5593-23 5593-24 5596-1 5596-2 5596-3 5596-4 5596-5 5596-6 5596-7 5596-8 5596-9 5596-10 5596-11 5596-12 5596-13 5596-14 5596-15 5596-16 5600-1 5600-2 5600-3 5600-4 5600-5 5600-6 5600-7 5600-8 5600-9 5600-10 5600-11 5600-12 5600-13 5600-14 5600-15 5600-16 5615-4 5656-12 5656-13 5656-14 5656-15 5656-16 5656-17 5669-1 5669-2 5669-3 5669-4 5669-5 5669-6 5669-7 5669-8 5669-9 5669-10 5669-11 5669-12 5669-13 5669-14 5669-15 5669-16 5669-17 5675-1 5675-2 5675-3 5675-4 5675-5 5675-6 5675-7 5675-8 5675-9 5689-1 5689-2 5689-3 5690-3 5690-4 5690-5 5690-6 5690-7 5690-8 5690-9 5690-10 5690-11 5690-12 5690-13 5695-1 5695-2 5695-3 5695-4 5695-5 5695-6 5695-7 5695-8 5695-9 5790-1 5790-2 5790-3 5790-4 5790-5 5790-6 5790-7 5790-8 5790-9 5790-10 5790-11 5790-12 5790-13 5790-14 5790-15 5801-1 5821-18 5821-19 5821-20 5821-21 5821-22 5821-23 5821-24 5849-1 5849-2 5849-3 5849-4 5849-5 5849-6 5849-7 5849-8 5849-9 5849-10 5849-11 5849-12 5849-13 5849-14 5849-15 5849-16 5849-17 5849-18 5887-1 5887-2 5887-3 5889-1 5889-2 5889-3 5889-4 5889-5 5889-6 5889-7 5889-8 5889-9 5889-10 5889-11 5889-12 5919-1 5919-2 5919-3 5919-4 5919-5 5919-6 5919-7 5919-8 6047-5 6047-6 6047-7 6047-8 6047-9 6047-10 6047-11 6047-12 6047-13 6047-14 6047-15 6047-16 6078-13 6078-14 6078-15 6078-16 6078-17 6078-18 6078-19 6078-20 6078-21 6114-1 6114-2 6114-3 6114-4 6114-5 6118-9 6118-10 6118-11 6118-12 6118-13 6118-14 6177-1 6177-2 6177-3 6177-4 6177-5 6177-6 6177-7 6177-8 6177-9 6177-10 6179-3 6179-4 6179-5 6235-3 6235-4 6235-5 6235-6 6235-7 6235-8 6235-9 6235-10 6235-11 6239-3 6239-4 6239-5 6239-6 6239-7 6239-8 6239-9 6239-10 6268-6 6268-7 6268-8 6268-9 6268-10 6268-11 6268-12 6268-13 6268-14 6268-15 6291-1 6291-2 6291-3 6291-4 6291-5 6291-6 6291-7 6291-8 6291-9 6291-10 6291-11 6291-12 6291-13 6338-19 6338-20 6338-21 6338-22 6338-23 6338-24 6369-1 6369-2 6369-3 6369-4 6369-5 6369-6 6369-7 6426-8 6426-9 6426-10 6426-11 6426-12 6426-13 6426-14 6426-15 6426-16 6426-17 6434-1 6434-2 6434-3 6434-4 6434-5 6434-6 6434-7 6434-8 6434-9 6434-10 6642-1 6642-2 6642-3 6642-4 6642-5 6642-6 6642-7 6642-8 6642-9 6642-10 6642-11 6642-12 6642-13 6642-14 6674-1 6674-2 6674-3 6674-4 6674-5 6674-6 6674-7 6674-8 6674-9 6674-10 6674-11 6674-12 6674-13 6674-14 6674-15 6707-10 6707-11 6707-12 6712-1 6712-2 6712-3 6712-4 6712-5 6816-2 6816-3 6816-4 6816-5 6816-6 6832-2 6832-3 6931-3 6931-4 6931-5 6931-6 6931-7 6931-8 6931-9 6939-4 6939-5 6939-6 6939-7 6939-8 6939-9 6939-10 6939-11 6939-12 6939-13 6939-14 6939-15 6939-16 6939-17 6939-18 6939-19 6939-20 6939-21 6939-22 6939-23 6939-24 7084-1 7084-2 7084-3 7084-4 7084-5 7084-6 7084-7 7084-8 7084-9 7084-10 7084-11 7084-12 7084-13 7084-14 7084-15 7084-16 7084-17 7084-18 7116-1 7116-2 7116-3 7116-4 7116-5 7126-1 7199-4 7199-5 7199-6 7302-4 7302-5 7302-6 7302-7 7302-8 7302-9 7302-10 7302-11 7302-12 7302-13 7302-14 7305-1 7305-2 7305-3 7305-4 7305-5 7305-6 7305-7 7305-8 7305-9 7305-10 7314-15 7314-16 7314-17 7316-21 7316-22 7391-11 7391-12 7391-13 7393-2 7393-3 7393-4 7393-5 7393-6 7393-7 7393-8 7393-9 7442-2 7442-3 7442-4 7442-5 7442-6 7442-7 7442-8 7442-9 7442-10 7442-11 7442-12 7442-13 7442-14 7442-15 7442-16 7442-17 7442-18 7442-19 7442-20 7442-21 7442-22 7447-11 7447-12 7447-13 7447-14 7464-2 7464-3 7464-4 7464-5 7464-6 7508-16 7508-17 7508-18 7508-19 7510-9 7514-4 7553-10 7553-11 7553-12 7553-13 7553-14 7553-15 7553-16 7553-17 7553-18 7553-19 7553-20 7601-10 7601-11 7601-12 7646-13 7646-14 7646-15 7646-16 7646-17 7646-18 7646-19 7646-20 7649-2 7649-3 7649-4 7649-5 7649-6 7649-7 7649-8 7649-9 7657-1 7657-2 7657-3 7657-4 7657-5 7657-6 7657-7 7657-8 7657-9 7657-10 7657-11 7665-18 7665-19 7669-19 7669-20 7685-2 7789-17 7789-18 7789-19 7789-20 7789-21 7789-22 7789-23 7789-24 7818-12 7818-13 7818-14 7818-15 7818-16 7818-17 7818-18 7818-19 7818-20 7975-1 7975-2 7975-3 7975-4 7975-5 7975-6 7975-7 7975-8 7975-9 7975-10 7975-11 7975-12 7975-13 7975-14 7975-15 7975-16 7975-17 7998-3 7998-4 7998-5 7998-6 7998-7 7998-8 7998-9 7998-10 7998-11 7998-12 7998-13 7998-14 7998-15 7998-16 8072-1 8091-1 8091-2 8127-1 8127-2 8127-3 8127-4 8127-5 8127-6 8127-7 8127-8 8127-9 8127-10 8127-11 8127-12 8141-1 8141-2 8141-3 8141-4 8141-5 8141-6 8141-7 8141-8 8141-9 8141-10 8141-11 8141-12 8141-13 8141-14 8141-15 8141-16 8141-17 8141-18 8141-19 8141-20 8141-21 8141-22 8169-2 8169-3 8169-4 8169-5 8169-6 8169-7 8169-8 8169-9 8169-10 8212-11 8212-12 8212-13 8212-14 8212-15 8212-16 8235-8 8235-9 8235-10 8235-11 8257-1 8257-2 8257-3 8257-4 8257-5 8257-6 8265-12 8271-21 8271-22 8273-4 8273-5 8273-6 8273-7 8336-1 8336-2 8336-3 8336-4 8336-5 8336-6 8336-7 8336-8 8354-14 8354-15 8354-16 8354-17 8354-18 8354-19 8354-20 8354-21 8395-3 8395-4 8395-5 8395-6 8395-7 8395-8 8395-9 8395-10 8395-11 8395-12 8395-13 8395-14 8395-15 8395-16 8395-17 8395-18 8539-1 8539-2 8539-3 8539-4 8539-5 8539-6 8539-7 8539-8 8539-9 8539-10 8539-11 8539-12 8539-13 8539-14 8539-15 8540-11 8540-12 8553-7 8553-8 8553-9 8553-10 8675-17 8675-18 8693-1 8693-2 8693-3 8693-4 8693-5 8693-6 8693-7 8693-8 8693-9 8693-10 8693-11 8759-1 8759-2 8759-3 8759-4 8759-5 8759-6 8759-7 8759-8 8883-4 8883-5 8883-6 8883-7 8883-8 8883-9 8883-10 8916-15 8916-16 8916-17 8916-18 8916-19 8916-20 9012-1 9012-2 9012-3 9012-4 9012-5 9117-2 9117-3 9117-4 9134-14 9134-15 9195-1 9195-2 9259-1 9259-2 9259-3 9259-4 9259-5 9259-6 9259-7 9259-8 9259-9 9259-10 9259-11 9416-1 9416-2 9416-3 9416-4 9416-5 9416-6 9416-7 9416-8 9416-9 9416-10 9416-11 9416-12 9416-13 9416-14 9416-15 9416-16 9416-17 9416-18 9416-19 9416-20 9416-21 9446-20 9446-21 9446-22 9446-23 9446-24 9487-1 9487-2 9487-3 9487-4 9487-5 9487-6 9487-7 9487-8 9487-9 9487-10 9487-11 9487-12 9487-13 9487-14 9487-15 9487-16 9487-17 9512-1 9521-15 9619-1 9619-2 9619-3 9619-4 9619-5 9619-6 9619-7 9619-8 9619-9 9619-10 9619-11 9619-12 9619-13 9619-14 9619-15 9619-16 9619-17 9644-6 9644-7 9927-1 9927-2 9927-3 9927-4 9927-5 10008-14 10008-15 10008-16 10008-17 10052-1 10052-2 10052-3 10052-4 10052-5 10052-6 10052-7 10052-8 10052-9 10052-10 10052-11 10052-12 10052-13 10052-14 10052-15 10060-1 10060-2 10060-3 10060-4 10060-5 10060-6 10060-7 10060-

,caseid_1979,start_y,start_m,month1,month2,month3,month4,month5,month6,month7,...,month231,month232,month233,month234,month235,month236,month237,month238,month239,month240
0,2,1979,1,1,1,1,1,1,1,1,...,6,6,5,5,5,5,5,5,5,5
1,3,1981,8,6,6,6,6,6,6,6,...,1,1,6,6,6,6,6,6,6,6
2,8,1978,7,6,6,6,6,6,8,2,...,1,1,1,1,1,1,1,1,1,1
3,16,1978,10,1,1,1,1,1,1,1,...,3,3,3,3,3,3,2,2,2,2
4,19,1977,12,0,1,1,1,1,1,1,...,6,6,6,6,6,6,6,6,6,6

In [24]:
res_df.to_csv('../data/age_seq_mothers.csv', index=False)

## Age 20-40 sequences for childless women

In [25]:
childless_df = pd.read_csv('../data/childless_df.csv')
childless_df.head()

,caseid_1979,sample_id_1979,sample_race_1979,sample_sex_1979,c1dob_m_xrnd,c1dob_y_xrnd,c2dob_m_xrnd,c2dob_y_xrnd,c3dob_m_xrnd,c3dob_y_xrnd,...,date_y_2012,date_d_2014,date_m_2014,date_y_2014,y_deceased,last_yr,attr_before40,deceased_before40,deceased_child14,deceased_child18
0,14,5,3,2,-4,-4,-4,-4,-4,-4,...,2012,5,1,2015,NaN,2014,False,False,False,False
1,21,5,3,2,-4,-4,-4,-4,-4,-4,...,2012,21,1,2015,NaN,2014,False,False,False,False
2,22,5,3,2,-4,-4,-4,-4,-4,-4,...,2012,24,1,2015,NaN,2014,False,False,False,False
3,28,5,3,2,-4,-4,-4,-4,-4,-4,...,-5,-5,-5,-5,NaN,2010,False,False,False,False
4,29,5,3,2,-4,-4,-4,-4,-4,-4,...,2012,23,4,2015,NaN,2014,False,False,False,False

In [27]:
# repeat for childless women, starting from full_df

# merge datasets
merged = childless_df.merge(gap_df, on='caseid_1979')
merged = merged.merge(wkarray_df, on='caseid_1979')


# Create a dictionary to store data
data = defaultdict(list)


for i, row in merged.iterrows(): #iterate through weekly array rows

    #keep track of progress
    if i%100 == 0: 
        print i,
    
    
    #keep three columns: id, start_y, start_m
    data['caseid_1979'].append(row['caseid_1979'])
    data['start_y'].append(row['y_dob']+20)
    data['start_m'].append(row['m_dob'])

    y = row['y_dob']+20
    m = row['m_dob']
    
        
    #maternal leaves
    gaps = get_gaps(row)
        
        
    for week_num in range(1, 1984): #iterate through all weekly work variables
         
        #if the week is maternity leave
        if week_num in gaps:
            data['week%s'%week_num].append(8) 
            continue
        
        #otherwise:
        my_status = None
        
        #get the hours worked this week 
        hours = row['hrs_worked_wk_num%04d_xrnd'%week_num]
    
        #get the employment status this week
        status = row['status_wk_num%04d_xrnd'%week_num]

        #if (status >= 100 and status <= 2615):
        if status >= 100:
            status = 'w' #working
        
        
        ### define employment status according to my classification scheme ###
#         0 - misisng
#         1 - full-time employment - hours >= 35
#         2 - part-time 1 - hours [20, 35)
#         3 - part-time 2 - hours < 20
#         4 - working with missing hours
#         5 - unemployed
#         6 - out of labor force
#         7 - nonworking, but DK whether OOLF or unemployed
#         8 - maternity leave
        
        
        # missing
        if hours == 0 and status == 0:
            my_status = 0
            
        # full time
        elif hours >= 35 and status in ['w', 3]:
            my_status = 1
        elif hours == 0 and status == 7:
            my_status = 1
     
    
        # part time 1
        elif hours >= 20 and hours < 35 and status in ['w', 3]:
            my_status = 2    

        # part time 2
        elif hours >= 0 and hours < 20 and status in ['w', 3]:
            my_status = 3    
    
    
        # working, missing hours
        elif hours < 0 and status in ['w', 3]: 
            my_status = 4

            
        ### NLSY codes:
        # 2: NOT WORKING (UNEMP V. OLF NOT DETERMINED)
        # 4: UNEMPLOYED
        # 5: OUT OF LABOR FORCE
            
            
        # unemployed
        elif status == 4:
            my_status = 5
            
            if hours > 0:
                print row['caseid_1979'], week_num, hours, status
            
        # OOLF
        elif status == 5:
            my_status = 6
            
            if hours > 0:
                print row['caseid_1979'], week_num, hours, status
            
        # nonworking
        elif status == 2:
            my_status = 7
            
            if hours > 0:
                print row['caseid_1979'], week_num, hours, status            

        else:
            # (hours 3, status 3) should also be part-time, 
            # but we didn't encounter any
            raise Exception, 'unknown hours and status: (%s, %s)'%(hours, status)
        
        
        data['week%s'%week_num].append(my_status) #make the week number start from 0, easier for indexing in Python

        
cols = ['caseid_1979', 'start_y', 'start_m'] + ['week%s'%n for n in range(1, 1984)]
full_df_childless = pd.DataFrame(data, columns=cols)

 0 100 200 300 400 500 600

In [29]:
res_data = defaultdict(list) #create an empty dictionary to store data

count_ties = [] #how many we get ties of modal, store a tuple (respondent id, month # where a tie occured) 
status_order = [1, 6, 2, 3, 5, 8, 4, 7, 0] 


for i, row in full_df_childless.iterrows():
    
    # keep track of progress
    if i%100 == 0:
        print i, 
    
    # keep basic info: id, sequence start year and month
    res_data['caseid_1979'].append(row['caseid_1979'])
    res_data['start_y'].append(row['start_y'])
    res_data['start_m'].append(row['start_m'])
    
    y = row['start_y']
    m = row['start_m']    
    
    
    # look at weekly statuses
    for j in range(1, 241): # from month 1 to month 240 = 20 * 12
        
        if y < 1978: #prior to 1978
            res_data['month%s'%j].append(0)
            
        elif y > 2015: # post-2015
            res_data['month%s'%j].append(0)
            
        else:
            start = get_week_num(y, m, 'first')
            end = get_week_num(y, m, 'last')
            wk_statuses = [row['week%i'%k] for k in range(start, end+1)]
            
            
            #find unique items in the given month 
            distinct = list(set(wk_statuses))
            distinct.sort()

            if len(distinct) == 1:
                res_data['month%s'%j].append(distinct[0])

            elif len(distinct) >= 2:
                modal = find_modal(wk_statuses)
                if len(modal) == 1:
                    res_data['month%s'%j].append(modal[0])
                else:
                    
                    modal_order = [(x, status_order.index(x)) for x in modal]
                    modal_order = sorted(modal_order, key=itemgetter(1))
                    res_data['month%s'%j].append(modal_order[0][0])
                    count_ties.append((row['caseid_1979'], j))

         
        #move to next month
        if m < 12:
            m += 1
        elif m == 12:
            m = 1
            y += 1

cols = ['caseid_1979', 'start_y', 'start_m'] + ['month%s'%i for i in range(1, 241)]
res_df_childless = pd.DataFrame(res_data, columns=cols) #restricted dataframe

 0 100 200 300 400 500 600

In [30]:
res_df_childless = res_df_childless.apply(update_pre1978_months, axis=1)
res_df_childless.head()

104-1 104-2 104-3 104-4 104-5 104-6 104-7 105-1 105-2 105-3 105-4 307-1 307-2 307-3 307-4 307-5 307-6 307-7 307-8 307-9 307-10 307-11 307-12 307-13 307-14 307-15 307-16 319-1 319-2 319-3 319-4 319-5 319-6 319-7 319-8 319-9 319-10 319-11 319-12 319-13 319-14 319-15 319-16 319-17 319-18 319-19 319-20 319-21 527-4 527-5 527-6 527-7 527-8 527-9 527-10 527-11 527-12 527-13 527-14 527-15 527-16 527-17 527-18 527-19 527-20 577-1 577-2 577-3 577-4 699-1 699-2 699-3 699-4 699-5 699-6 699-7 699-8 699-9 699-10 699-11 699-12 699-13 745-1 745-2 745-3 745-4 745-5 745-6 745-7 745-8 745-9 745-10 745-11 745-12 745-13 745-14 745-15 745-16 745-17 745-18 745-19 745-20 745-21 745-22 745-23 884-7 884-8 943-3 943-4 943-5 943-6 943-7 943-8 969-3 969-4 969-5 969-6 1041-1 1041-2 1041-3 1041-4 1041-5 1041-6 1041-7 1041-8 1041-9 1041-10 1041-11 1041-12 1041-13 1041-14 1041-15 1041-16 1041-17 1041-18 1041-19 1041-20 1041-21 1041-22 1075-6 1075-7 1075-8 1075-9 1075-10 1075-11 1075-12 1075-13 1075-14 1075-15 1154-1 1154-2 1154-3 1154-4 1175-1 1175-2 1175-3 1175-4 1175-5 1175-6 1175-7 1182-1 1182-2 1182-3 1182-4 1182-5 1182-6 1182-7 1334-1 1334-2 1334-3 1334-4 1334-5 1334-6 1392-8 1392-9 1392-10 1392-11 1392-12 1392-13 1463-3 1516-18 1516-19 1516-20 1516-21 1516-22 1516-23 1713-2 1713-3 1713-4 1713-5 1713-6 1774-1 1774-2 1774-3 1774-4 1774-5 1774-6 1774-7 1774-8 1774-9 1774-10 1774-11 1774-12 1774-13 1774-14 1774-15 1774-16 1774-17 1921-1 1921-2 1921-3 2115-1 2136-1 2136-2 2242-1 2242-2 2242-3 2242-4 2242-5 2242-6 2242-7 2242-8 2242-9 2242-10 2242-11 2242-12 2242-13 2242-14 2242-15 2242-16 2242-17 2297-9 2297-10 2297-11 2297-12 2297-13 2297-14 2297-15 2297-16 2297-17 2297-18 2297-19 2297-20 2297-21 2297-22 2297-23 2297-24 2346-17 2346-18 2346-19 2346-20 2346-21 2364-1 2364-2 2364-3 2364-4 2364-5 2364-6 2364-7 2364-8 2364-9 2364-10 2364-11 2364-12 2364-13 2370-6 2370-7 2370-8 2543-7 2543-8 2543-9 2543-10 2668-1 2668-2 2668-3 2668-4 2668-5 2668-6 2668-7 2668-8 2668-9 2668-10 2668-11 2668-12 2929-9 2929-10 2929-11 2929-12 2987-3 2987-4 2987-5 2987-6 2987-7 2987-8 2987-9 3034-1 3034-2 3034-3 3034-4 3034-5 3034-6 3034-7 3034-8 3034-9 3034-10 3034-11 3034-12 3134-1 3134-2 3238-1 3238-2 3238-3 3238-4 3238-5 3238-6 3238-7 3238-8 3238-9 3238-10 3238-11 3238-12 3300-1 3300-2 3378-1 3378-2 3378-3 3419-22 3419-23 3725-1 3725-2 3725-3 3725-4 3725-5 3725-6 3725-7 3725-8 3725-9 3725-10 3725-11 3725-12 3730-11 3730-12 3730-13 3730-14 3730-15 3730-16 3764-1 3764-2 3764-3 3764-4 3764-5 3764-6 3764-7 3764-8 3764-9 3764-10 3764-11 3764-12 3872-5 3872-6 3872-7 3872-8 3872-9 3872-10 3872-11 3872-12 3872-13 3872-14 4152-1 4152-2 4152-3 4152-4 4152-5 4152-6 4152-7 4152-8 4152-9 4152-10 4152-11 4152-12 4152-13 4152-14 4257-21 4257-22 4257-23 4267-15 4267-16 4353-1 4353-2 4353-3 4353-4 4353-5 4353-6 4353-7 4353-8 4353-9 4353-10 4353-11 4356-6 4356-7 4356-8 4356-9 4493-1 4493-2 4493-3 4493-4 4493-5 4493-6 4493-7 4493-8 4493-9 4493-10 4493-11 4493-12 4626-9 4626-10 4626-11 4626-12 4627-1 4627-2 4627-3 4627-4 4627-5 4627-6 4627-7 4627-8 4627-9 4627-10 4627-11 4627-12 4627-13 4627-14 4627-15 4627-16 4627-17 4686-1 4686-2 4686-3 4686-4 4686-5 4686-6 4686-7 4761-1 4761-2 4761-3 4761-4 4761-5 4761-6 4761-7 4761-8 4761-9 4761-10 4807-3 4807-4 4807-5 4807-6 4807-7 4807-8 4807-9 4807-10 4807-11 4807-12 4807-13 4807-14 4807-15 4807-16 4807-17 4822-8 4822-9 4822-10 4822-11 4822-12 4822-13 4822-14 4924-1 4924-2 4966-2 4966-3 5060-1 5060-2 5060-3 5060-4 5060-5 5060-6 5060-7 5060-8 5060-9 5060-10 5060-11 5060-12 5060-13 5060-14 5060-15 5060-16 5060-17 5060-18 5060-19 5076-1 5076-2 5076-3 5076-4 5188-4 5239-8 5239-9 5736-1 5736-2 5736-3 5736-4 5736-5 5736-6 5736-7 5736-8 5736-9 5736-10 5736-11 5736-12 5736-13 5736-14 5736-15 5736-16 5736-17 5736-18 5736-19 5736-20 5736-21 5736-22 5736-23 5826-1 5826-2 5826-3 5826-4 5826-5 6068-6 6068-7 6068-8 6115-14 6115-15 6115-16 6422-1 6422-2 6422-3 6422-4 6422-5 6422-6 6422-7 6422-8 6422-9 6422-10 6422-11 6422-12 6422-13 6422-14 6422-15 6422-16 6655-1 6655-2 6655-3 6655-4 6655-5 6655-6 6655-7 6655-8 6655-9 6655-10 6655-11 6655-12 6655-13 6812-7 6812-8 6812-9 6812-10 6812-11 6934-11 6934-12 6934-13 6990-1 6990-2 6990-3 6990-4 6990-5 6990-6 6990-7 6990-8 6990-9 6990-10 6990-11 6990-12 6990-13 6990-14 6990-15 6990-16 6990-17 7095-14 7095-15 7095-16 7095-17 7095-18 7095-19 7159-1 7159-2 7159-3 7159-4 7159-5 7159-6 7159-7 7159-8 7159-9 7159-10 7159-11 7159-12 7159-13 7159-14 7159-15 7271-1 7271-2 7271-3 7271-4 7271-5 7271-6 7271-7 7271-8 7271-9 7271-10 7271-11 7271-12 7271-13 7271-14 7271-15 7271-16 7271-17 7271-18 7611-17 7611-18 7611-19 8789-2 8789-3 8789-4 8789-5 8919-1 8919-2 8919-3 8919-4 8919-5 9749-19 9749-20 9749-21 9749-22 9894-1 9894-2 9894-3 9894-4 9894-5 9894-6 9894-7 9894-8 9894-9 9894-10 9894-11 9894-12 9896-1 9896-2 9987-3 9987-4 9987-5 11834-1 11834-2 11834-3 11834-4 11851-1 11851-2 11851-3 11881-10 11881-11 11881-12 11881-13 11881-14 11881-15 11881-16 11881-17 11881-18 11881-19 11881-20 11931-1 11931-2 11931-3 11931-4 11931-5 11931-6 11931-7 11931-8 11931-9 11931-10

,caseid_1979,start_y,start_m,month1,month2,month3,month4,month5,month6,month7,...,month231,month232,month233,month234,month235,month236,month237,month238,month239,month240
0,14,1983,10,3,3,3,3,3,3,3,...,1,1,1,1,1,1,1,1,1,1
1,21,1981,6,2,2,1,3,3,3,3,...,1,1,1,1,1,1,1,1,1,1
2,22,1983,1,1,1,1,1,1,8,8,...,1,1,1,1,1,1,1,1,1,1
3,28,1984,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,29,1980,10,1,1,1,1,1,1,1,...,3,3,3,3,3,3,3,3,1,1

In [31]:
res_df_childless.to_csv('../data/age_seq_childless.csv', index=False)